// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap");

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-theme: mat.define-light-theme((color: (primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      )));

$custom-typography: mat.define-typography-config($font-family: '"Muli", sans-serif;',
  );
@include mat.core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: 'Muli', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

.content {
  padding: 20px 20px 0 20px;
  height: max-content;
  margin-bottom: 16px;
  min-height: calc(100% - 100px);
}

.max-height-content {
  min-height: calc(100% - 10%);
}

.max-content {
  height: calc(100% - 100px);
}

.max-card {
  height: max-content;
  min-height: calc(100% - 40px);
}

button.mat-flat-button,
button.mat-stroked-button,
button.mat-button {
  text-transform: uppercase;
  font-weight: 900 !important;
}

.full-width {
  width: 100%;
}

.filler {
  flex: 1 1 auto;
}

.full-width-table {
  width: 100%;
}

.input-full-width {
  flex-basis: 100%;
  width: 100%;
}

.input-number {
  input {
    text-align: right;
  }
}

.input-uppercase {
  input {
    text-transform: uppercase;
  }
}

.next-input {
  margin-left: 15px;
}

input.quantity {
  text-align: right;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.label {
  font-weight: bold;
}

.data {
  font-weight: 500;
  color: #373737;
}

.row,
.box {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1 1 0px;
  margin-right: 15px;
}

.center-content {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col:last-of-type {
  margin-right: 0;
}

.mat-form-field-infix {
  width: 100% !important;
}

.mat-form-field {
  margin-bottom: 10px;
}

.checkbox-separator {
  margin-bottom: 10px;
}

.content-tab {
  padding: 20px 10px;
}

.sep-top-20 {
  margin-top: 20px;
}

.sep-bottom-20 {
  margin-bottom: 20px;
}

.sep-top-m-15 {
  margin-top: 15px;
}

.sep-right-5 {
  margin-right: 5px !important;
}

.sep-right-10 {
  margin-right: 10px !important;
}

.sep-right-15 {
  margin-right: 15px !important;
}

.sep-right-20 {
  margin-right: 20px !important;
}

.sep-bottom-20 {
  margin-bottom: 20px !important;
}

tr.mat-row:hover {
  background: #b4b4b433;
}

.dialog-content {
  padding: 15px 24px !important;
  width: 100%;
  text-align: center;

  p {
    text-align: center !important;
  }
}

.filter-container {
  padding: 20px;

  .filter-command {
    button.command-button {
      width: 100%;
      margin-bottom: 20px;
    }

    button.command-button:last-of-type {
      margin-bottom: 0;
    }
  }
}

.module-toolbar {
  button {
    margin-left: 15px;
  }

  .icon {
    margin-right: 15px;
  }

  .search-button {
    margin-left: 15px;
  }

  .search-icon {
    margin-right: 15px;
    color: #ccc;
  }

  .searchable-input {
    font-size: 16px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 8px;
  }

  .search-bar {
    position: absolute;
    top: -65px;
    left: 0;
    transition: top 0.3s;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
  }

  .showed-search-bar {
    top: 0;
    left: 0;
  }
}

.card-table {
  margin: 20px 30px;
  height: calc(100% - 150px);
}

.card-table-content {
  height: 100%;
  overflow-y: auto;
  padding-right: 16px;
}

.sticky-header {
  position: sticky;
  z-index: 100;
  top: 0;
  background: #ffffff;
}

.sticky-paginator {
  position: sticky;
  z-index: 100;
  bottom: 0;
}

.card-header {
  box-sizing: border-box;
  place-content: center space-between;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 300;

  .card-header-subtitle {
    margin: 0 !important;
  }
}

.mat-card-title {
  margin: 0 !important;
}

.mat-card-header-title {
  margin: 0 !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.keyboard-container {
  position: fixed;
  bottom: -350px;
  width: calc(100% - 120px);
  max-width: 950px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  transition: bottom 0.5s;
  z-index: 1001;
}

.keyboard-showed {
  bottom: 20px;
}

@media (max-width: 1024px) {
  .keyboard-showed {
    bottom: -350px;
  }
}

.close-keyboard {
  position: absolute;
  right: -30px;
  top: -30px;
  border-radius: 25px;
  background: #fff;
  height: 25px;
  width: 19px;
  color: #000;
  padding: 5px 0 0 10px;
  cursor: pointer;
}

.controllers {
  position: fixed;
  top: 10px;
  right: 30px;

  button {
    color: #fff;
  }
}

.toolbar {
  button {
    margin-left: 10px;
  }
}

.mat-error {
  padding-bottom: 20px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  div {
    width: 100%;
  }
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

h3.subtitle {
  padding: 20px 0;
}