.assignments {
    display: flex;
    flex-direction: row;

    .assignment {
        min-width: 15%;
        margin: 0 20px 0 0;

        mat-card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .avatar-image {
                width: 40px;
                height: 40px;
                border-radius: 0%;
                margin-right: 10px;
                background: url('/assets/images/profile.png');
                background-repeat: no-repeat;
                background-size: cover;
            }

            .data {
                flex-grow: 3;

                .name {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px !important;
                }

                .account {
                    font-size: 14px;
                    font-weight: 500;
                }
            }


        }

    }
}